#roster-element {
  margin: 20px auto;
  max-width: 1440px;
  height: fit-content;
  padding: 4px 0;
  background: rgb(88,225,233);
  background: radial-gradient(circle, rgba(88,225,233,1) 0%, rgba(111,226,200,1) 4%, rgb(232, 232, 116) 50%, rgba(111,226,200,1) 96%, rgba(88,225,233,1) 100%);
  /* background: radial-gradient(circle, rgba(231, 232, 29, 1) 0%, rgba(88, 225, 233, 1) 100%); */
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
}

.char-image {
  display: inline-block;
  width: 100px;
  height: 66px;
  padding: 4px;
  margin: 1px;
}

.unplayed {
  background-color: rgb(230, 230, 230);
  opacity: 75%;
}

.won {
  background-color: green;
}

.lost {
  background-color: red;
}

.highlighted {
  opacity: 100%;
  background-color: rgb(212, 0, 255);
}
