#roster-element {
  margin: 20px auto;
  width: 1440px;
  height: fit-content;
  padding: 4px 0;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.char-image {
  display: inline-block;
  max-width: 100px;
  padding: 4px;
  margin: 1px;
}

.unplayed {
  background-color: rgb(230, 230, 230);
}

.won {
  background-color: green;
}

.lost {
  background-color: red;
}
